<div id="sidebar">
    <ul class="sidebar-list">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <img src="/images/default.png" id="mobile-img">
                </center>
            </div>
        </li>
        <li class="list">
        <a onclick="openbar()" id="open">
            <span class="list-span">
                <i class="fas fa-bars" id="icon"></i>
            </span>
                Cq
        </a>
        </li>
     
           <li class="list" id="sidebar-home">
            <a onclick="dashboard()">
                <span class="list-span">
                    <i class="fas fa-home" id="icon"></i>
                </span>
                Home
            </a>
           </li> 

        <% if(data.role == "Admin"){ %>         
            <li class="list" id="sidebar-adduser">
             <a onclick="open_adduser_page()">
                <span class="list-span">
                    <i class="fas fa-plus-square" id="icon"></i>
                </span>
                Add User
             </a>
             </li>
        <% } %>

         <% if(data.role == "Admin"){ %> 
            <li class="list" id="sidebar-userlist">
            <a onclick="openuserlist()">
                <span class="list-span">
                    <i class="fas fa-list" id="icon"></i>
                </span>
                Users List
            </a>
           </li>            
        <% } %>

        <% if(data.role == "Admin"){ %>         
            <li class="list">
              <a onclick="switchasuser()">
                <span class="list-span">
                    <i class="fas fa-toggle-off" id="icon"></i>
                </span>
                Switch As User
              </a>
           </li>
        <% } %>

        <% if(data.role == "User"){ %>         
            <li class="list">
              <a onclick="uploadFile()">
                <span class="list-span">
                    <i class="fas fa-upload" id="icon"></i>
                </span>
                Send File
              </a>
           </li>
        <% } %>

        <% if(data.role == "User"){ %>         
            <li class="list">
              <a onclick="sendFileRecords()">
                <span class="list-span">
                    <i class="fas fa-paper-plane" id="icon"></i>
                </span>
                Send File
              </a>
           </li>
        <% } %>
      
             <li class="list" id="sidebar-changePassword">
               <a onclick="changepassword()">
                <span class="list-span">
                    <i class="fas fa-lock" id="icon"></i>
                </span>
                Change Password
              </a>
            </li>
       
             <li class="list">
               <a onclick="openlogoutpage()">
                <span class="list-span">
                    <i class="fas fa-sign-out-alt" id="icon"></i>
                </span>
                Logout
               </a>
            </li>

    </ul>
</div>
