<nav id="navbar">
    <div class="container">
        <div id="leftpanel">

            <a id="fs" class="navbar-brand" href="#">FS</a>

            <a onclick="openbar()" id="openbox">
                <span class="glyphicon glyphicon-th-large"></span>
            </a>
            <span class="label label-success" id="leftadmin">
                Admin
            </span>

        </div>

        <div id="rightpanel">

            <img src="<%= data.photoname %>" id="dpimage" onclick="editProfile()" style="height:40px;width: 40px;float:right;">

            <span class="label label-success" id="rightadmin" style="float:right;">
                <%=data.name%>
            </span>

            <% if(data.role == "superAdmin"){ %>   
                <span class="label label-warning" style="float:right;">
                    superadmin
                </span>
            <% } %>    

        </div>
    </div>
</nav>