<nav id="navbar">

        <div class="container-fluid">
            <div id="leftpanel" style="float:left;">
                 <a id="cq" class="navbar-brand" href="#">cq</a>


                    <a onclick="openbar()" id="openbox">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                    <span class="label label-success" id="leftadmin">
                        Admin
                    </span>
            </div>

            <div id="rightpanel" style="float:right;">

        
                <img src="<%= data.photoname %>" id="dpimage" onclick="editProfile()" style="height:40px;width: 40px;float:right;">


                <span class="label label-success" id="rightadmin" style="float:right;">
                    <%=data.name%>
                </span>

                <span class="label label-warning" id="sadmin" style="float:right;">
                    superadmin
                </span>

            </div>
        </div>

</nav>
