<!DOCTYPE html>
<html >
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="css/sidebar.css" rel="stylesheet" type = "text/css">
        <link href="css/header.css" rel="stylesheet" type = "text/css">
        <link href = "css/style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/openpanel.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    </head>

<body class="body">
    <% include partials/top-bar.ejs %>
    	<div id="viewscreen" >
        <% include partials/side-navbar.ejs %>
        	<div id="rightview" >
                <div class="container-fluid div-min-width" style="padding:0;">
                    <div class="row">
                        <div class="col-lg-12 parentDiv" style="padding:0">
                            <div class="container">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 mainDiv">
                                    <br>
                                    <h6 class="heading"><b>Change Password</b></h6>
                                        <div class="col-sm-12">
                                            <div class="form-group"><span><b>Old Password :</b></span>
                                                <input type="password" class="form-control" id="oldpass" placeholder="Old Password">

                                                <div style="float:left;padding-left: 10px">
                                                    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                                                    8 Characters Long

                                                </div>
                                                <div style="float:left; padding-left: 10px">
                                                    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                                                    One Uppercase Letter

                                                </div>
                                                <div style="float:left;padding-left: 10px">
                                                    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                                                    One Lowercase Letter

                                                </div>
                                                <div style="float:left;padding-left: 10px ">
                                                    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                                                    One Number
                                                </div>
                                            </div>

                                            <br><br>

                                            <div class="form-group"><span><b>New Password :</b></span>
                                                <input type="password" class="form-control" id="newpass" placeholder="New Password">
                                                
                                                <span style="margin-left:7px"><span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>Passwords Match</span>
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-success" id="submit-btn">
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
</body>
</html>
<!-- <script type="text/javascript" src="js/changePassword.js"></script> -->