<%- layout('layout/layout.ejs') %>

<link rel="stylesheet" type="text/css" href="stylesheets/datatables.css">
<link type="text/css" href="stylesheets/datatables.min.css">

<%- include('partials/top-bar.ejs') %>
    <div id="viewscreen" >
    <%- include('partials/side-navbar.ejs') %>
        <div id="rightview">
            <div class="container-fluid div-min-width" style="padding:0">
                <div class="row">
                    <div class="col-lg-12 parentDiv" style="padding:0">
                        <div class="to-center-div">
                            <div class="container childDiv">
                                <div class="panel panel-default" style="background: rgb(249, 249, 249);box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);overflow-x: scroll;.inner-border::-webkit-scrollbar:display: none;">
                                    <div class="panel-body">
                                        <div class="userbtns">

                                        <button type="button" class="btn btn-primary" style="background-color: black">User List</button>		

                                        <select id="roles" class="btn btn-primary" class="mdb-select md-form colorful-select dropdown-primary" style="background-color: black;float: right;margin-right: 1%;margin-left: 1%;">
                                            <option selected>All</option>
                                            <option value="Admin">Admin</option>
                                            <option value="User">Users</option>
                                        </select>

                                        <select id="selectoption" class="btn btn-primary" class="mdb-select md-form colorful-select dropdown-primary" style="background-color: black;float: right;margin-left: 1%;">
                                            <option selected>All</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Confirmed">Confirmed</option>
                                        </select>

                                        <button class="btn btn-primary" id="refresh" style="float: right;background-color: black;"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>				
                                        </div>

			                            <div>
                                            <table class="table table-bordered" id="datatableses">
                                                <thead>
                                                <tr>
                                                    <th>Username/Email</th>
                                                    <th>Phone</th>
                                                    <th>City</th>
                                                    <th>Status</th>
                                                    <th>Role</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list"></tbody>
                                            </table>
		                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="updateModal" class="modal fade" role="dialog" style="z-index:9999;">
    <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 id="eheading" style="text-align:left;" class="modal-title">Update <span id="nameses"></span></h3>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-3" style="width:50%;"></div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Phone:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="phone" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">City:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="City">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Status:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="status">
                            <option value="Pending">Pending</option>
                            <option value="Confirmed">Confirmed</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Role:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="role">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10" style="text-align:left;">
                        <button class = "btn btn-default" id="editsubmit" data-dismiss="modal" onclick="updateuserdetails()">Update</button>
                    </div>
                </div>
                </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/datatables.js"></script>
<script type="text/javascript" src="js/datatables.min.js"></script>
<script type="text/javascript" src="js/userList.js"></script>