<!DOCTYPE html>
<html>
  <head>
    <title>Switching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      body{
      	font-family: sans-serif;
      	padding: 0;
      	margin: 0;
      	background-color: rgb(243,244,244);
      	display: flex;
      	justify-content: center;
      	align-iteam: center;
      	height: 100vh;
      }
      div{
      margin-top:15%;
      	text-align: center;
      	color: rgb(135,148,165);
      }
  </style>
  </head>

<body>
  <div>
    	<h1>Switch as Admin</h1>
    	<img src="images/loading.gif">
  </div>
  <script type="text/javascript">
  setTimeout(function(){ window.location="/login/home"; }, 2000);
</script>
</body>
</html>