#navbar
{
    background-color: #222D3C;
    color:white;
    width: 100%;
    position: fixed;
    z-index: 9998;
    height: 60px;
}
#cq
{
    float: left;
    cursor:pointer;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
#rightpanel
{
    display:none;
}
#leftpanel
{
    width:100%;
}
#leftadmin
{
    float:right;
    margin-top: 20px;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
#openbox
{
    float:right;
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color:white;
}
#dpimage
{
    cursor: pointer !important;
    width: 40px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}
#rightadmin
{
    margin-top: 22px;
    margin-left: 5px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

}
#sadmin
{
    margin-top: 22px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

@media (min-width:768px)
{
    #leftpanel
    {
        width:50%;
    }
    #rightpanel
    {
        display: block;
        width:50%;
    }
    #leftadmin
    {
        float:left;
        display: none;
    }
    #openbox
    {
        float:left;;
    }
}
*
{
    box-sizing:border-box;
}
