#navbar {
    background-color: #222D3C;
    width: 100%;
    position: fixed;
    z-index: 9998;
    height: 60px;
}

#leftpanel {
    width:100%;
    float:left
}

#fs {
    float: left;
    cursor:pointer;
    height: 50px;
    color:white;
    font-size: 20px;
    font-weight: bold;
}

#rightpanel {
    display:none;
    float:right;
}

#dpimage {
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
    float: right;
    border-radius: 50%;
}  

#rightadmin {
    margin-top: 22px;
    margin-left: 5px;
}

#openbox {
    float:right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    color:white;
    cursor: pointer;
}

#sidebar{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0px;;
    height: 100%;
    margin-left: -250px;
    overflow:hidden;
    background: #000;
    transition: 0.9s;
    margin-top: 60px;
}

#sidebar.sidebar-width {
    width:250px;
}

.sidebar-list {
    padding:0px;
    width:250px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right:0px;
    list-style: none;
}

.list {
    line-height: 40px;
    text-indent:15px;
    font-size: 20px;
    display: block;
}

#icon {
    float: left;
    position: relative;
    line-height: 40px;
    width : 2.5em;
}

li a {
    display:block;
    cursor: pointer;
    color: #999999;
    background-color: transparent;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
    color : white;
    background: rgba(255, 255, 255, 0.2);
    border-left: 1px solid red;
}

@media (min-width: 768px) {
   
    #leftpanel {
        width:50%;
    }

    #rightpanel {
        display: block;
        width:50%;
    }

    #leftadmin {
        float:left;
        display: none;
    }

    #openbox  {
        float:left;;
    }

    #sidebar {
        width:50px;
    }
}